/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/
/[Vv]s/
/[Oo]bj/

# 專案檔案
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 之前的誤傳檔案
MQTTDOG.git/

.vs/
.vscode/
.vsconfig
/[Oo]bj/